@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~sweetalert2/src/sweetalert2';

@import 'elements/card';
@import 'elements/navbar';
@import 'elements/buttons';
@import 'elements/transitions';

.form-control:focus {
  border-color: var(--success);
  box-shadow: 0 0 0 0.2rem rgba(0, 200, 81, 0.25);
}

.nav-link {
  color: #28a745;
}

.nav-link:hover {
  color: #007E33;
}

.carousel {
  margin-left: 10%;
  margin-right: 10%;
}

.carousel-control {
  width: 0%;
}

.carousel-control-next {
  margin-right: -15%;
}

.carousel-control-prev {
  margin-left: -15%;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.question-icon {
  color: #343a40;
}

.question-icon:hover {
  color: #007E33;
}

@media (max-width: 990px) {
  #questions-header {
    flex-direction: column;
    align-items: flex-start;
  }

  // #questions-search-bar {
  //   max-width: 60%;
  // }

  .question-header {
    max-width: 70%;
  }

  .search-bar {
    max-width: 70%;
    padding-right: 5%;
  }
}
